In [1]:
# Question 1: Create a tuple of first 10 natural numbers
# Create tuple
tuple_natural = tuple(range(1, 11))

print(tuple_natural)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

count = 0
for _ in tup:
    count += 1

print(count)

10

In [4]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
third_element = tup[2]  # Indexing starts from 0
print(third_element)

3

In [5]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
maximum = max(tup)
print(maximum)

10

In [6]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
count_5 = tup.count(5)
print(count_5)

1

In [7]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
mixed_tuple = (10, 3.14, "Hello", True)
print(mixed_tuple)

(10, 3.14, 'Hello', True)

In [8]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
tup = ('java', 'python', 'c++', 'javascript')
index_python = tup.index('python')
print(index_python)

1

In [9]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
tup = (10, 20, 30, 40, 50)
exists = 25 in tup
print(exists)

False

In [10]:
# Question 10: Find the average of numbers in
tuple=(15, 23, 31, 42, 56, 78)
total = sum(tup)
count = len(tup)
average = total / count

print(average)

30.0

In [21]:
# Question 9: Create a tuple of first 5 even numbers