In [1]:
# Question 1: Create a set of first 10 natural numbers
# Create set of first 10 natural numbers
natural_set = set(range(1, 11))
print(natural_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.add(11)
print(s)

{1, 2, 3, 4, 5, 11}

In [3]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
s = {1, 2, 3, 4, 5, 6}
s.remove(3)  # removes 3
print(s)

{1, 2, 4, 5, 6}

In [4]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1 & set2
print(intersection)

{4, 5}

In [5]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference = set1 - set2  # elements in set1 not in set2
print(difference)

{1, 2, 3}

In [6]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
s = {1, 2, 3, 4, 6, 7, 8}
exists = 5 in s
print(exists)

False

In [7]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
s = {'a', 'b', 'c', 'd', 'e'}
length = len(s)
print(length)

5

In [8]:
# Question 8: Create a set of vowels from string "hello world"
s = "hello world"
vowels = {'a', 'e', 'i', 'o', 'u'}
vowel_set = {char for char in s if char in vowels}
print(vowel_set)

{'o', 'e'}

In [9]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_set = set(lst)
print(unique_set)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}
is_subset = set1.issubset(set2)
print(is_subset)

True