In [1]:
# Question 1: Check if 25 is greater than 20 and less than 30
num = 25
result = 20 < num < 30
print(result)

True

In [2]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)
str1 = "python"
str2 = "Python"

result = str1 == str2
print(result)

False

In [3]:
# Question 3: Check if 15 is divisible by both 3 and 5
num = 15

result = (num % 3 == 0) and (num % 5 == 0)
print(result)

True

In [4]:
# Question 4: Check if 7 is not equal to 8
num1 = 7
num2 = 8

result = num1 != num2
print(result)

True

In [5]:
# Question 5: Check if 100 is greater than 50 or less than 25
num = 100

result = (num > 50) or (num < 25)
print(result)

True

In [6]:
# Question 6: Check if 0 is falsy in Python
num = 0

result = bool(num)
print(result)

False

In [7]:
# Question 7: Check if empty string "" is falsy in Python
str = ""

result = bool(str)
print(result)

False

In [8]:
# Question 8: Check if 42 is truthy in Python
num = 42

result = bool(num)
print(result)

True

In [9]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
num = 10

result = (num >= 5) and (num <= 15)
print(result)

True

In [10]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
num = 3.14

result = (num > 3) and (num < 4)
print(result)

True