In [2]:
# Question 1: Create a list of first 10 square numbers
squares = [i*i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lists=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum=0
for list in lists:
  if list% 2==0:
    sum+=list
print("sum of even",sum)

sum of even 30

In [11]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique=[]
for num in numbers:
  if num not in unique:
    unique.append(num)
print(unique)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
numbers=[64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

[90, 64, 34, 25, 22, 12, 11]

In [21]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
numbers = [15, 23, 31, 42, 56, 78, 91]

total = 0
count = 0

for num in numbers:
    total = total + num
    count = count + 1

average = total / count
print(average)

48.0

In [22]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibonacci = []

a = 0
b = 1

for i in range(15):
    fibonacci.append(a)
    a, b = b, a + b

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [23]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
numbers = [45, 67, 23, 89, 12, 34, 78]

largest = numbers[0]
second_largest = numbers[0]

for num in numbers:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

print(second_largest)

78

In [24]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]

count = 0
for num in numbers:
    if num == 5:
        count = count + 1

print(count)

4

In [25]:
# Question 10: Create a list of prime numbers between 1 and 50
primes = []

for num in range(2, 51):
    is_prime = True

    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [26]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flat = [item for sublist in nested for item in sublist]

print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = []
for item in list1:
    if item in list2:
        common.append(item)
print(common)

[4, 5]

In [31]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print(list_of_lists)

[[1, 2], [3, 4], [5, 6]]

In [32]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = []

for sublist in lists:
    total = 0
    for num in sublist:
        total = total + num
    sums.append(total)

print(sums)

[6, 15, 24]

In [33]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

transpose = []

for i in range(len(matrix[0])):
    row = []
    for j in range(len(matrix)):
        row.append(matrix[j][i])
    transpose.append(row)

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [34]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
lists = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = []

for sublist in lists:
    max_val = sublist[0]  # assume first element is max
    for num in sublist:
        if num > max_val:
            max_val = num
    max_values.append(max_val)

print(max_values)

[5, 9, 8]

In [35]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
list_3d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(list_3d)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [36]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
list_3d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

total_sum = 0

for matrix in list_3d:         # 2D lists
    for sublist in matrix:     # 1D lists
        for num in sublist:    # elements
            total_sum += num

print(total_sum)

36

In [37]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_numbers = []

for sublist in nested:
    for num in sublist:
        if num % 2 == 0:
            even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8]

In [38]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mixed_list = [1, "hello", 3.14, True, [1, 2, 3]]
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [39]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
fruits = ["apple", "banana", "cherry", "date"]
lengths = []

for fruit in fruits:
    lengths.append(len(fruit))

print(lengths)

[5, 6, 6, 4]

In [40]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
tuples=[(1, 'a'), (2, 'b'), (3, 'c')]
print(tuples)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [41]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = []

for t in tuples:
    first_elements.append(t[0])

print(first_elements)

[1, 2, 3]

In [42]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]

print(people)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [44]:
# Question 25: Extract all 'name' values from list of dictionaries
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
print(people)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [46]:
# Question 26: Find the person with maximum age in list of dictionaries
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 28}
]
print(people)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 28}]

In [47]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
list_4d = [
    [
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]

print(list_4d)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [49]:
# Question 28: Find the maximum value in 4D list
list_4d = [
    [
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]

In [50]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
list_of_sets = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(list_of_sets)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [51]:
# Question 30: Find the union of all sets in list of sets
union_set = set.union(*list_of_sets)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
complex_list = [1+2j, 3+4j, 5+6j]
print(complex_list)

[(1+2j), (3+4j), (5+6j)]

In [54]:
# Question 32: Find the magnitude of each complex number in list
complex_list = [1+2j, 3+4j, 5+6j]
magnitudes = []

for c in complex_list:
    magnitudes.append(abs(c))

print(magnitudes)

[2.23606797749979, 5.0, 7.810249675906654]

In [55]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
nested_list = [1, [2, 3], [4, [5, 6]], 7]
print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [61]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

In [62]:
# Question 35: Create a list of functions: [len, str, int, float]
func_list = [len, str, int, float]
print(func_list)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [66]:
# Question 36: Apply each function in list to string "123"

func_list = [len, str, int, float]
value = "123"
results = [func(value) for func in func_list]
print(results)

[3, '123', 123, 123.0]

In [67]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
func_list = [
    lambda x: x*2,
    lambda x: x**2,
    lambda x: x+1
]

# Example usage
print(func_list )  # 5*2 = 10
print(func_list )  # 5**2 = 25
print(func_list )  # 5+1 = 6

[<function <lambda> at 0x7ef8f488aca0>, <function <lambda> at 0x7ef8f488a3e0>, <function <lambda> at 0x7ef8f488a7a0>]
[<function <lambda> at 0x7ef8f488aca0>, <function <lambda> at 0x7ef8f488a3e0>, <function <lambda> at 0x7ef8f488a7a0>]
[<function <lambda> at 0x7ef8f488aca0>, <function <lambda> at 0x7ef8f488a3e0>, <function <lambda> at 0x7ef8f488a7a0>]

In [70]:
# Question 38: Apply each lambda function to 5
# Question 38: Apply each lambda function to 5
func_list = [
    lambda x: x*2,
    lambda x: x**2,
    lambda x: x+1
]

value = 5
results = [func(value) for func in func_list]
print(results)

[10, 25, 6]

In [71]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
class_list = [list, dict, set, tuple]
print(class_list)

[10, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [75]:
# Question 40: Create instances of each class in list

In [76]:
# Question 41: Create a list of None values: [None, None, None, None]
none_list = [None, None, None, None]
print(none_list)

[None, None, None, None]

In [77]:
# Question 42: Replace all None values with 0 in list
for i in range(len(none_list)):
    if none_list[i] is None:
        none_list[i] = 0

print(none_list)

[0, 0, 0, 0]

In [78]:
# Question 43: Create a list of boolean values: [True, False, True, False]
bool_list = [True, False, True, False]
print(bool_list)

[True, False, True, False]

In [79]:
# Question 44: Count True values in boolean list
true_count = bool_list.count(True)
print(true_count)

2

In [80]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
range_list = [range(3), range(5), range(2)]
print(range_list)

[range(0, 3), range(0, 5), range(0, 2)]

In [83]:
# Question 46: Convert each range to list

In [84]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
gen_list = [
    (x for x in range(3)),
    (x for x in range(5))
]

print(gen_list)

[<generator object <genexpr> at 0x7ef8f480ebc0>, <generator object <genexpr> at 0x7ef8f480e140>]

In [88]:
# Question 48: Convert each generator to list
gen_list = [
    (x for x in range(3)),
    (x for x in range(5))
]

In [89]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
iter_list = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iter_list)

[<list_iterator object at 0x7ef8f4818d00>, <list_iterator object at 0x7ef8f4716140>]

In [91]:
# Question 50: Extract all elements from each iterator
iter_list = [iter([1, 2, 3]), iter([4, 5, 6])]